..\..\..\..\..\c:\Users\ion.gireada\Documents\VSCode Development Projects\skd\docs
..\..\..\..\..\c:\Users\ion.gireada\Documents\VSCode Development Projects\skd\yaml2tests
..\..\..\..\..\c:\Users\ion.gireada\Documents\VSCode Development Projects\skd\sample.md
..\..\..\..\..\c:\Users\ion.gireada\Documents\VSCode Development Projects\skd\sidebars.js
